USE [master]
GO
/****** Object:  Database [QLSX]    Script Date: 17/6/2018 11:59:14 AM ******/
CREATE DATABASE [QLSX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLSX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLSX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSX]
GO
USE [QLSX]
GO
/****** Object:  Table [dbo].[DONSANXUAT]    Script Date: 17/6/2018 11:59:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONSANXUAT](
	[MADON] [varchar](10) NOT NULL,
	[MASANPHAM] [varchar](10) NULL,
	[TENSANPHAM] [nvarchar](100) NULL,
	[SOLUONG] [varchar](20) NULL,
	[NGAYNHAN] [date] NULL,
	[NGAYGIAO] [date] NULL,
	[GHICHU] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KEHOACHSX]    Script Date: 17/6/2018 11:59:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEHOACHSX](
	[MAKEHOACH] [varchar](10) NOT NULL,
	[TENKEHOACH] [nvarchar](50) NULL,
	[MASANPHAM] [varchar](10) NULL,
	[SOLUONGSX] [varchar](20) NULL,
	[NGAYLAPKEHOACH] [date] NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKEHOACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOHANG]    Script Date: 17/6/2018 11:59:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOHANG](
	[MAKHO] [varchar](10) NOT NULL,
	[TENKHO] [nvarchar](50) NULL,
	[SUCCHUA] [varchar](10) NULL,
	[GHICHU] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSANXUAT]    Script Date: 17/6/2018 11:59:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSANXUAT](
	[MALICHSX] [varchar](10) NOT NULL,
	[MAXUONGSX] [varchar](10) NULL,
	[CASX] [nvarchar](20) NULL,
	[TUNGAY] [datetime] NULL,
	[DENNGAY] [datetime] NULL,
	[SOLUONGYEUCAU] [varchar](10) NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALICHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 17/6/2018 11:59:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [varchar](10) NOT NULL,
	[TENNHANVIEN] [nvarchar](50) NOT NULL,
	[BOPHAN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPKHO]    Script Date: 17/6/2018 11:59:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPKHO](
	[SOPHIEUNHAP] [varchar](10) NOT NULL,
	[NGAYNHAPKHO] [date] NULL,
	[MASANPHAM] [varchar](10) NULL,
	[SOLUONGSANPHAM] [varchar](10) NULL,
	[MAPHANXUONGSX] [varchar](10) NULL,
	[MAKHO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 17/6/2018 11:59:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPHONGBAN] [varchar](10) NOT NULL,
	[TENPHONGBAN] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONGBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 17/6/2018 11:59:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASANPHAM] [varchar](10) NOT NULL,
	[TENSANPHAM] [nvarchar](50) NULL,
	[DONVITINH] [nvarchar](20) NULL,
	[MOTA] [nvarchar](200) NULL,
	[LOAISANPHAM] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 17/6/2018 11:59:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[MATKHAU] [nvarchar](50) NOT NULL,
	[GHICHU] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINKHOHANG]    Script Date: 17/6/2018 11:59:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINKHOHANG](
	[MAKHOHANG] [varchar](10) NULL,
	[MASANPHAM] [varchar](10) NULL,
	[TENSANPHAM] [nvarchar](50) NULL,
	[SOLUONGTON] [varchar](10) NULL,
	[GHICHU] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XUONGSANXUAT]    Script Date: 17/6/2018 11:59:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUONGSANXUAT](
	[MAXUONGSX] [varchar](10) NOT NULL,
	[TENXUONGSX] [nvarchar](50) NULL,
	[TINHTRANG] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[CONGXUAT] [nvarchar](30) NULL,
	[NGUOIQUANLY] [varchar](10) NULL,
	[GHICHU] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAXUONGSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEUCAUSX]    Script Date: 17/6/2018 11:59:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEUCAUSX](
	[MAPHIEUYC] [varchar](10) NOT NULL,
	[MAXUONGSX] [varchar](10) NULL,
	[MAKEHOACH] [varchar](10) NULL,
	[SOLUONGYEUCAU] [varchar](10) NULL,
	[NGAYLAPPHIEU] [date] NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUYC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DONSANXUAT] ([MADON], [MASANPHAM], [TENSANPHAM], [SOLUONG], [NGAYNHAN], [NGAYGIAO], [GHICHU]) VALUES (N'DH001', N'SP010', N'SSD Samsung 860 Evo 250GB 2.5-Inch SATA III', N'100', CAST(N'2018-06-20' AS Date), CAST(N'2018-06-25' AS Date), NULL)
INSERT [dbo].[DONSANXUAT] ([MADON], [MASANPHAM], [TENSANPHAM], [SOLUONG], [NGAYNHAN], [NGAYGIAO], [GHICHU]) VALUES (N'DH002', N'SP009', N'HDD WD Blue 1TB WD10EZEX', N'100', CAST(N'2018-06-21' AS Date), CAST(N'2018-06-24' AS Date), NULL)
INSERT [dbo].[KEHOACHSX] ([MAKEHOACH], [TENKEHOACH], [MASANPHAM], [SOLUONGSX], [NGAYLAPKEHOACH], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (N'KH001', N'Sản xuất SSD', N'SP010', N'100', CAST(N'2018-06-21' AS Date), CAST(N'2018-06-21' AS Date), CAST(N'2018-06-24' AS Date))
INSERT [dbo].[KEHOACHSX] ([MAKEHOACH], [TENKEHOACH], [MASANPHAM], [SOLUONGSX], [NGAYLAPKEHOACH], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (N'KH002', N'Sản xuấ HDD', N'SP009', N'100', CAST(N'2018-06-22' AS Date), CAST(N'2018-06-22' AS Date), CAST(N'2018-06-24' AS Date))
INSERT [dbo].[KHOHANG] ([MAKHO], [TENKHO], [SUCCHUA], [GHICHU]) VALUES (N'KHO001', N'Kho tổng hợp', N'50000', NULL)
INSERT [dbo].[LICHSANXUAT] ([MALICHSX], [MAXUONGSX], [CASX], [TUNGAY], [DENNGAY], [SOLUONGYEUCAU], [GHICHU]) VALUES (N'LSX001', N'SX007', N'CA1', CAST(N'2018-06-21T00:00:00.000' AS DateTime), CAST(N'2018-06-22T00:00:00.000' AS DateTime), N'30', NULL)
INSERT [dbo].[LICHSANXUAT] ([MALICHSX], [MAXUONGSX], [CASX], [TUNGAY], [DENNGAY], [SOLUONGYEUCAU], [GHICHU]) VALUES (N'LSX002', N'SX007', N'CA2', CAST(N'2018-06-22T00:00:00.000' AS DateTime), CAST(N'2018-06-23T00:00:00.000' AS DateTime), N'40', NULL)
INSERT [dbo].[LICHSANXUAT] ([MALICHSX], [MAXUONGSX], [CASX], [TUNGAY], [DENNGAY], [SOLUONGYEUCAU], [GHICHU]) VALUES (N'LSX003', N'SX007', N'CA3', CAST(N'2018-06-23T00:00:00.000' AS DateTime), CAST(N'2018-06-24T00:00:00.000' AS DateTime), N'30', NULL)
INSERT [dbo].[NHAPKHO] ([SOPHIEUNHAP], [NGAYNHAPKHO], [MASANPHAM], [SOLUONGSANPHAM], [MAPHANXUONGSX], [MAKHO]) VALUES (N'PN001', CAST(N'2018-06-25' AS Date), N'SP009', N'100', N'SX007', N'KHO001')
INSERT [dbo].[NHAPKHO] ([SOPHIEUNHAP], [NGAYNHAPKHO], [MASANPHAM], [SOLUONGSANPHAM], [MAPHANXUONGSX], [MAKHO]) VALUES (N'PN002', CAST(N'2018-05-25' AS Date), N'SP010', N'100', N'SX008', N'KHO001')
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [DONVITINH], [MOTA], [LOAISANPHAM], [GHICHU]) VALUES (N'SP001', N'Acer Aspire A315', N'Bộ', N'    - CPU: Core i7 7700HQ
    - RAM/ HDD: 8Gb/ 256Gb SSD
    - Màn hình: 13.3Inch Full HD
    - VGA: VGA onboard, Intel HD Graphics 620', N'Máy Tính', NULL)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [DONVITINH], [MOTA], [LOAISANPHAM], [GHICHU]) VALUES (N'SP002', N'Asus S510UQ-BQ483T', N'Bộ', N'    - CPU: Core i7 8550U
    - RAM/ HDD: 8Gb/ 1Tb
    - Màn hình: 15.6Inch Full HD
    - VGA: VGA rời, Nvidia GT940M 2Gb', N'Máy Tính', NULL)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [DONVITINH], [MOTA], [LOAISANPHAM], [GHICHU]) VALUES (N'SP003', N'Dell Vostro 5568G', N'Bộ', N'    - Bộ VXL Core i7 7500U (2.7Ghz-4Mb)
    - Cạc đồ họa  VGA rời, Nvidia GT940M 4Gb
    - Ram  8Gb - 
    - Ổ cứng 1Tb', N'Máy Tính', NULL)
INSERT [dbo].[THONGTINKHOHANG] ([MAKHOHANG], [MASANPHAM], [TENSANPHAM], [SOLUONGTON], [GHICHU]) VALUES (N'KHO001', N'SP009', N'HDD WD Blue 1TB WD10EZEX', N'0', NULL)
INSERT [dbo].[THONGTINKHOHANG] ([MAKHOHANG], [MASANPHAM], [TENSANPHAM], [SOLUONGTON], [GHICHU]) VALUES (N'KHO001', N'SP010', N'SSD Samsung 860 Evo 250GB 2.5-Inch SATA III', N'0', NULL)
INSERT [dbo].[XUONGSANXUAT] ([MAXUONGSX], [TENXUONGSX], [TINHTRANG], [DIACHI], [CONGXUAT], [NGUOIQUANLY], [GHICHU]) VALUES (N'SX001', N'Xưởng sản lắp ráp', N'Sẵn sàng', N'KHU I', N'3000 máy/Ngày', N'', NULL)
INSERT [dbo].[XUONGSANXUAT] ([MAXUONGSX], [TENXUONGSX], [TINHTRANG], [DIACHI], [CONGXUAT], [NGUOIQUANLY], [GHICHU]) VALUES (N'SX002', N'Xưởng sản xuất CPU', N'Sẵn sàng', N'Khu II', N'200 chiếc/h', NULL, NULL)
INSERT [dbo].[XUONGSANXUAT] ([MAXUONGSX], [TENXUONGSX], [TINHTRANG], [DIACHI], [CONGXUAT], [NGUOIQUANLY], [GHICHU]) VALUES (N'SX003', N'Xưởng sản xuất màn hình', N'Sẵn sàng', N'Khu III', N'200 chiếc/h', NULL, NULL)
INSERT [dbo].[YEUCAUSX] ([MAPHIEUYC], [MAXUONGSX], [MAKEHOACH], [SOLUONGYEUCAU], [NGAYLAPPHIEU], [NGAYBATDAU], [NGAYKETTHUC], [GHICHU]) VALUES (N'YC001', N'SX008', N'KH001', N'100', CAST(N'2018-06-21' AS Date), CAST(N'2018-06-21' AS Date), CAST(N'2018-06-24' AS Date), NULL)
INSERT [dbo].[YEUCAUSX] ([MAPHIEUYC], [MAXUONGSX], [MAKEHOACH], [SOLUONGYEUCAU], [NGAYLAPPHIEU], [NGAYBATDAU], [NGAYKETTHUC], [GHICHU]) VALUES (N'YC002', N'SX007', N'KH002', N'100', CAST(N'2018-06-22' AS Date), CAST(N'2018-06-22' AS Date), CAST(N'2018-06-25' AS Date), NULL)
ALTER TABLE [dbo].[DONSANXUAT]  WITH CHECK ADD FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[KEHOACHSX]  WITH CHECK ADD FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[LICHSANXUAT]  WITH CHECK ADD FOREIGN KEY([MAXUONGSX])
REFERENCES [dbo].[XUONGSANXUAT] ([MAXUONGSX])
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD FOREIGN KEY([MAPHANXUONGSX])
REFERENCES [dbo].[XUONGSANXUAT] ([MAXUONGSX])
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH NOCHECK ADD  CONSTRAINT [FK_NHAPKHO_KHOHANG] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHOHANG] ([MAKHO])
GO
ALTER TABLE [dbo].[NHAPKHO] CHECK CONSTRAINT [FK_NHAPKHO_KHOHANG]
GO
ALTER TABLE [dbo].[THONGTINKHOHANG]  WITH CHECK ADD FOREIGN KEY([MAKHOHANG])
REFERENCES [dbo].[KHOHANG] ([MAKHO])
GO
ALTER TABLE [dbo].[THONGTINKHOHANG]  WITH CHECK ADD FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[YEUCAUSX]  WITH CHECK ADD FOREIGN KEY([MAKEHOACH])
REFERENCES [dbo].[KEHOACHSX] ([MAKEHOACH])
GO
ALTER TABLE [dbo].[YEUCAUSX]  WITH CHECK ADD FOREIGN KEY([MAXUONGSX])
REFERENCES [dbo].[XUONGSANXUAT] ([MAXUONGSX])
GO
USE [master]
GO
